.wwpe-problem-content-button {
    margin-bottom: 15px;
    text-align: right;
}

.wwpe-problem-content-button > button {
    padding: 8px 16px;
    border-radius: 3px;
    color: #fff;
    background-color: #003388;
    border: 0;
}

.wwpe-problem-content-button > button:hover,
.wwpe-problem-content-button > button:focus {
    background-color: #000688;
    color: #fff;
    cursor: pointer;
}

.wwpe-tags th {
	text-align: left;
	padding-right: 20px;
}

.wwpe-tags-wrapper.toggle-open .wwpe-tags-toggle,
.wwpe-tags-wrapper.toggle-closed .wwpe-tags-toggle {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	cursor: pointer;
	padding-left: 20px;
}

.wwpe-tags-wrapper.toggle-closed .wwpe-tags {
	display: none;
}

.wwpe-tags-wrapper.toggle-closed .wwpe-tags-toggle {
	background-image: url('./img/arrow-right.png');
}

.wwpe-tags-wrapper.toggle-open .wwpe-tags-toggle {
	background-image: url('./img/arrow-down.png');
}
